@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-primary-champagne text-primary-black font-body antialiased;
  overflow-x: hidden;
}

/* Typography */
h1, h2, h3, h4 {
  @apply font-heading;
}

a {
  @apply transition-colors duration-200;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}